:root {
	--color-text: #333;
	--color-accent: #8de6f1;
	--color-accent-text: #000;
	--color-error: #ca0028;
	--color-hint: #aaa;
	--color-background: white;
	--color-fullinvert: black;
	--color-background-field: white;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-text: #e7e7e7;
		--color-accent: #2a9baa;
		--color-accent-text: #fff;
		--color-error: #ca0028;
		--color-hint: #aaa;
		--color-background: #222;
		--color-fullinvert: white;
		--color-background-field: #555;
	}
}

:has(#darkmode:checked) {
	--color-text: #e7e7e7;
	--color-accent: #2a9baa;
	--color-accent-text: #fff;
	--color-error: #ca0028;
	--color-hint: #aaa;
	--color-background: #222;
	--color-fullinvert: white;
	--color-background-field: #555;
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

html,
body {
	background: var(--color-background);
	color: var(--color-text);
}

body {
	padding: 0 1em;
}

button {
	background: var(--color-accent);
	color: var(--color-accent-text);
	padding: 0.5em;
	font-size: 1em;
}

button,
input,
select {
	border: 1px solid
		color-mix(in srgb, var(--color-accent) 50%, var(--color-fullinvert));
}

select,
input {
	width: 100%;
	font-size: 1em;
	padding: 0.1cm;
	accent-color: var(--color-accent);
	background: var(--color-background-field);
	color: var(--color-accent-text);
}

[type='checkbox'] {
	scale: 1.75;
	width: auto;
}

h1 {
	font-weight: normal;
}

fieldset,
.fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 2em;
}

details {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

legend {
	text-transform: uppercase;
	color: var(--color-hint);
}

label {
	font-size: 0.9em;
	display: block;
}

.content {
	display: flex;
	gap: 2em;
}

aside {
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

:has(main:empty) #print {
	display: none;
}

output:empty {
	display: none;
}

output {
	color: var(--color-error);
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5cm;
}

main > * {
	border: 1px dashed var(--color-hint);
	font-size: 2cm;
	width: 8cm;
	height: 5cm;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5cm;
	font-family: cursive;
	padding: 0.5cm;
	overflow: hidden;
}

:focus-visible {
	outline-color: var(--color-accent);
}
