:root {
	--aside-width: 8em;
	--aside-deg: -110deg;

	--color-darkmode-text: #e7e7e7;
	--color-darkmode-accent: #2eaa2a;
	--color-darkmode-accent-text: #fff;
	--color-darkmode-error: #ca0028;
	--color-darkmode-hint: #aaa;
	--color-darkmode-background: #222;
	--color-darkmode-fullinvert: white;
	--color-darkmode-background-field: #555;
}

:root,
:has(#darkmode:not(:checked)) {
	--color-text: #333;
	--color-accent: #8df192;
	--color-accent-text: #000;
	--color-error: #ca0028;
	--color-hint: #aaa;
	--color-background: white;
	--color-fullinvert: black;
	--color-background-field: white;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-text: var(--color-darkmode-text);
		--color-accent: var(--color-darkmode-accent);
		--color-accent-text: var(--color-darkmode-accent-text);
		--color-error: var(--color-darkmode-error);
		--color-hint: var(--color-darkmode-hint);
		--color-background: var(--color-darkmode-background);
		--color-fullinvert: var(--color-darkmode-fullinvert);
		--color-background-field: var(--color-darkmode-background-field);
	}
}

:has(#darkmode:checked) {
	--color-text: var(--color-darkmode-text);
	--color-accent: var(--color-darkmode-accent);
	--color-accent-text: var(--color-darkmode-accent-text);
	--color-error: var(--color-darkmode-error);
	--color-hint: var(--color-darkmode-hint);
	--color-background: var(--color-darkmode-background);
	--color-fullinvert: var(--color-darkmode-fullinvert);
	--color-background-field: var(--color-darkmode-background-field);
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

html,
body {
	background: var(--color-background);
	color: var(--color-text);
}

body {
	padding: 0 1em;
}

button {
	background: color-mix(
		in srgb,
		var(--color-hint) 25%,
		var(--color-background)
	);
	color: var(--color-accent-text);
	padding: 0.5em;
	font-size: 1em;
	cursor: pointer;
}

button.primary {
	background: var(--color-accent);
	color: var(--color-accent-text);
}

button,
input,
select {
	border: 1px solid
		color-mix(in srgb, var(--color-accent) 50%, var(--color-fullinvert));
}

select,
input:not([type='checkbox']) {
	width: 100%;
}

select,
input {
	font-size: 1em;
	padding: 0.1cm;
	accent-color: var(--color-accent);
	background: var(--color-background-field);
	color: var(--color-accent-text);
	border-radius: 0;
}

[type='checkbox'] {
	height: 1.5em;
	width: 1.5em;
	margin: 0;
	margin-top: 0.2em;
	border-radius: 0;
}

h1,
h2 {
	font-weight: normal;
}

h2 {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

form,
.settings-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

legend {
	text-transform: uppercase;
	color: var(--color-hint);
}

label {
	font-size: 0.9em;
	display: block;
}

.content {
	display: flex;
	gap: 2em;
}

aside {
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

:has(main:empty) .result-actions {
	display: none;
}

output:empty {
	display: none;
}

output {
	color: var(--color-error);
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5cm;
}

main > * {
	border: 1px dashed var(--color-hint);
	font-size: 2cm;
	width: 8cm;
	height: 5cm;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5cm;
	font-family: cursive;
	padding: 0.5cm;
	overflow: hidden;
}

:where(button, select, input):hover,
:focus-visible {
	outline: 2px solid
		color-mix(in srgb, var(--color-accent) 50%, var(--color-fullinvert));
}

.result-actions {
	position: sticky;
	top: 1em;
}

aside {
	--aside-color: color-mix(in srgb, var(--color-hint) 50%, transparent);
	width: var(--aside-width);
	padding: 1em 1em 0 0;
	border: 1px solid transparent;
	border-left: 0;

	border-image: linear-gradient(
			var(--aside-deg),
			var(--aside-color),
			transparent var(--aside-width),
			transparent
		)
		1;
	background: linear-gradient(
			var(--aside-deg),
			color-mix(in srgb, var(--aside-color) 10%, transparent),
			transparent var(--aside-width),
			transparent
		)
		no-repeat var(--color-background);
}
